.component-case-box {
  h4 {
    background: #a1d1d4;
    padding: 5px 10px;
    display: inline-block;
    margin: 20px 0;
  }
}

.greeting-message {
  font-size: 20px;
  font-weight: bold;
  &.flash {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
  }
  p {
    font-weight: normal;
    font-weight: 18px;
  }
}

.secret-message {
  transition: all 0.5s;
  background: $main-color;
  color: #fff;
  border: 1px solid $main-color;

  &.authorized {
    color: $main-color;
    background: #fff;
    border: 1px solid #ccc;
  }
  &.wrong-password {
    border-color: $action-color;
    background: $action-color;
  }

  > strong {
    border-bottom: 1px solid #ccc;
    display: block;
    padding: 10px;
  }
  > p {
    padding: 10px;
    margin-top: 0;
  }
}

.login-form {
  text-align: center;
  background: lighten($alt-color, 30);
  border-radius: 5px;
  padding: unit-space(1);
  .input-text {
    margin: unit-space(1) 0;
    display: block;
    width: 100%;
  }
  &.wrong-password {
    animation-duration: 1s;
    animation-name: shake;
    animation-iteration-count: 1;
  }
}
