<div class="jumbotron">
  <div class="container">
    <h2>Integration tests</h2>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="http://thisdot.co/" role="button" target="_blank">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 component-case-box">
      <h3>1. Greeting</h3>
      <h4>Basic render</h4>
      {{1-greeting name="Joseph"}}

      <h4>Two parameters</h4>
      {{1-greeting name="Anne" salutation="Welcome"}}

      <h4>Flashy greeting</h4>
      {{1-greeting name="Paul" salutation="Welcome" flash=true}}

      <h4>Block Message</h4>
      {{#1-greeting name="Andy"}}
        I'm very happy you're here. I hope you enjoy your stay in Guatemala.
      {{/1-greeting}}

    </div>
    <div class="col-md-4">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h3>Heading</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
