<div class="jumbotron">
  <div class="container">
    <h2>Integration tests</h2>
    <p>This Dot provides teams with technical leaders. We believe in teaching teams to have positive engineering cultures and bring modern web application knowledge to developers.</p>
    <p><a class="btn btn-primary btn-lg" href="http://thisdot.co/" role="button" target="_blank">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 component-case-box">
      <h3>1. Greeting</h3>

      <h4>Basic render</h4>
      {{1-greeting name="Joseph"}}

      <h4>Two parameters</h4>
      {{1-greeting name="Anne" salutation="Welcome"}}

      <h4>Flashy greeting</h4>
      {{1-greeting name="Paul" salutation="Welcome" flash=true}}

      <h4>Block Message</h4>
      {{#1-greeting name="Andy"}}
        I'm very happy you're here. I hope you enjoy your stay in Guatemala.
      {{/1-greeting}}

    </div>
    <div class="col-md-4 component-case-box">
      <h3>2. Secret Message</h3>

      <h4>Toggle when no password is required</h4>
      {{#2-secret-message title="Atlantis location"}}
        Location hypotheses of Atlantis are various proposed real-world settings for the legendary island of Atlantis, described as a lost civilization mentioned in Plato's dialogues.
      {{/2-secret-message}}

      <h4>Show password input</h4>
      {{#2-secret-message title="Atlantis location" passwordRequired=true onAuthorize=(action 'authorizeOpen')}}
        Location hypotheses of Atlantis are various proposed real-world settings for the legendary island of Atlantis, described as a lost civilization mentioned in Plato's dialogues.
      {{/2-secret-message}}

      <h4>Send authorize action</h4>
      {{#2-secret-message title="Atlantis location" passwordRequired=true onAuthorize=(action 'authorizeOpen')}}
        Location hypotheses of Atlantis are various proposed real-world settings for the legendary island of Atlantis, described as a lost civilization mentioned in Plato's dialogues.
      {{/2-secret-message}}

      <h4>Open correctly</h4>
      {{#2-secret-message title="Atlantis location" passwordRequired=true onAuthorize=(action 'authorizeOpen')}}
        Location hypotheses of Atlantis are various proposed real-world settings for the legendary island of Atlantis, described as a lost civilization mentioned in Plato's dialogues.
      {{/2-secret-message}}

      <h4>Show error state</h4>
      {{#2-secret-message title="Atlantis location" passwordRequired=true onAuthorize=(action 'authorizeOpen')}}
        Location hypotheses of Atlantis are various proposed real-world settings for the legendary island of Atlantis, described as a lost civilization mentioned in Plato's dialogues.
      {{/2-secret-message}}

      <h4>Error status is cleared on input update</h4>
      {{#2-secret-message title="Atlantis location" passwordRequired=true onAuthorize=(action 'authorizeOpen')}}
        Location hypotheses of Atlantis are various proposed real-world settings for the legendary island of Atlantis, described as a lost civilization mentioned in Plato's dialogues.
      {{/2-secret-message}}
   </div>
    <div class="col-md-4">
      <h3>Heading</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
